canvas {
    border: 2px solid black;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #d8d6d6;
    background-color: #1e1e1e;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin: 1em;
    border-radius: 3px;
}

.flexChild {
    margin: 5em;
}

#controlsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 2em;
    margin-right: 2em;
    width: 80%;

    background-color: #814594;
    border-radius: 8px;
}

.controlsContainerChild {
    flex-grow: 1;
}

.sliderContainer {
    margin: 2em;
}

#canvasContainer {
    margin: auto;
    margin-top: 2em;
    width: 75%;
}

#canvas {
    display: block;
    margin: auto;
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
}